screen_down d
screen_down <C-d>
screen_up u
screen_up <C-u>
screen_down;screen_down <space>
screen_up;screen_up <S-space>

goto_beginning <D-up>
goto_end <D-down>
previous_page [
next_page ]
previous_page 【
next_page 】
prev_chapter {
next_chapter }
prev_chapter 「
next_chapter 」

move_left l
move_right h

open_prev_doc <D-o>

add_highlight H
delete_highlight DH
delete_bookmark Db
delete_bookmark DB

command ：
goto_mark ·

search <D-f>
copy <D-c>

zoom_in <D-=>
zoom_out <D-->
fit_to_page_width_smart <D-0>
zoom_in_cursor x
zoom_out_cursor z

prev_state <D-[>
prev_state <D-【>
next_state <D-]>
next_state <D-】>

goto_window w
new_window <D-n>
close_window <D-w>

; q

_embed_annotations S
_remove_annotations R

_open_tutorial ?
_open_tutorial ？
_open_in_pdf_expert E
# _open_online_doc S
_reveal_in_finder F
_open_in_preview P
_look_up_in_dict D
