execute_command_e open -a PDF\ Expert %1
execute_command_p open -a Preview %1
execute_command_f open -R %1

execute_command_q /opt/homebrew/bin/sioyek --new-window /Applications/sioyek.app/Contents/MacOS/tutorial.pdf
execute_command_s open https://sioyek-documentation.readthedocs.io/en/latest/configuration.html

execute_command_d shortcuts run Show\ Definition\ in\ Dictionary --input-path %3

page_separator_width 5

should_launch_new_window 0

show_doc_path 0
