new_command _open_in_pdf_expert open -a PDF\ Expert %1
new_command _open_in_preview open -a Preview %1
new_command _reveal_in_finder open -R %1

new_command _open_tutorial /opt/homebrew/bin/sioyek --new-window /Applications/sioyek.app/Contents/MacOS/tutorial.pdf
new_command _open_online_doc open https://sioyek-documentation.readthedocs.io/en/latest/configuration.html

new_command _look_up_in_dict shortcuts run Show\ Definition\ in\ Dictionary --input-path %3

page_separator_width 5

should_launch_new_window 0

show_doc_path 0
